/* Variables */

:root {
  --basic-black: #000000;
  --basic-dark: #283136;
  --basic-greydark: #444444;
  --basic-grey: #4d4d4d;
  --basic-lightgrey: #666666;
  --basic-verylightgrey: #eeeeee;
  --basic-lightred: #fb565a;
  --basic-white: #ffffff;

  --special-red: #e74246;
  --special-darkred: #d7373b;
  --special-gray: #dfdfdf;
  --special-darkgrey: #d5d5d5;

  --active-button-white-text: rgba(255, 255, 255, 0.3);
  --active-button-black-text: rgba(0, 0, 0, 0.3);

  --active-page-button-pagination: #DBDBDB;

  --basic-app-button: #00ca74;
  --hover-app-button: #00bc6c;
  --active-app-button: #00aa62;

  --basic-presentation-button: #efc849;
  --hover-presentation-button: #eab534;
  --active-presentation-button: #e5a722;

  --sort-ico-basic: #a6a6a6;
  --sort-ico-active: #231F20;

  --basic-border-input: #D7DCDE;
  --hover-border-input: #b4b9bb;

  --background-template-image: #f2f2f2;

  --range-scale: #D7DCDF;
  --toggle-background: #ABABAB;

  --slides-button-current: #C1C1C1;

  --social-button: #e1e1e1;

  --shadow-black: rgba(0, 0, 0, 0.4)
}

/* Global */

.page {
  height: 100%;
}

.page-body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-dark);
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.inner-page {
  color: var(--basic-black);
}

.link {
  text-decoration: none;
}

.image {
  max-width: 100%;
  height: auto;
}

.hidden-element {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main {
  margin-bottom: 80px;
}

/* Container */

.container {
  margin: 0;
  padding: 0 15px;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

/* Button */

.button {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  margin: 0;
  padding-top: 17px;
  padding-bottom: 15px;
  color: var(--basic-white);
  background-color: var(--basic-lightred);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
}

.button:hover,
.button:focus {
  background-color: var(--special-red);
}

.button:active{
  background-color: var(--special-darkred);
  color: var(--active-button-white-text);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button-filter {
  background-color: var(--basic-verylightgrey);
  color: var(--basic-black);
  width: 260px;
}

.button-filter:hover,
.button-filter:focus {
  background-color: var(--special-gray);
}

.button-filter:active {
  background-color: var(--special-darkgrey);
  color: var(--active-button-black-text);
}

.service-button {
  padding-left: 39px;
  padding-right: 40px;
}

.button-apps {
  background-color: var(--basic-app-button);
}

.button-apps:hover,
.button-apps:focus {
  background-color: var(--hover-app-button);
}

.button-apps:active {
  background-color: var(--active-app-button);
}

.button-presentations {
  background-color: var(--basic-presentation-button);
}

.button-presentations:hover,
.button-presentations:focus {
  background-color: var(--hover-presentation-button);
}

.button-presentations:active {
  background-color: var(--active-presentation-button);
}

.footer-contacts-button {
  padding-left: 44px;
  padding-right: 44px;
}

.appeal-button {
  padding-left: 83px;
  padding-right: 83px;
}

/* Main header */

.main-header {
  background-color: var(--basic-verylightgrey);
}

.page-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  padding-top: 78px;
  padding-bottom: 108px;
}

.page-title-bar {
  background-color: var(--basic-verylightgrey);
  margin-bottom: 55px;
  text-align: center;
}

/* Main navigation */

.main-navigation {
  line-height: 30px;
  color: var(--basic-black);
  width: 1160px;
  min-height: 66px;
  margin-top: 49px;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  column-gap: 40px;
  grid-template-columns: auto 8fr 1fr;
}

.main-logo .image {
  width: 160px;
  height: 65px;
}

.site-navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  justify-content: center;
}

.site-navigation-item {
  display: block;
  padding-top: 26px;
  padding-bottom: 9px;
  margin-right: 45px;
}

.cart {
  display: block;
  padding-top: 26px;
  padding-bottom: 9px;
  min-width: 114px;
  text-align: right;
  position: relative;
}

.cart::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  transform: translate(-40px, 7px);
  background-image: url("../img/decorative-icons/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation-item,
.cart {
  display: block;
  position: relative;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic-black);
}

.site-navigation-item:hover,
.cart:hover {
  color: var(--basic-lightred);
}

.site-navigation-item:active,
.cart:active {
  color: var(--basic-black);
  opacity: .3;
}

.active-page::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -7px;
  height: 2px;
  width: 100%;
  background-color: var(--basic-lightred);
}

/* Filters */

.fieldset {
  border-width: 0px;
  padding: 0;
  margin: 0;
}

.filter-grid {
  margin-bottom: 47px;
}

.filter-type {
  margin-bottom: 48px;
}

.filter-legend {
  color: var(--basic-black);
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.range-controls {
  height: 80px;
  width: 260px;
  box-sizing: border-box;
  background-color: var(--basic-verylightgrey);
  border-radius: 3px;
  margin-bottom: 14px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 39px;
}

.range-scale {
  position: relative;
  height: 2px;
  background-color: var(--range-scale);
}

.range-bar {
  position: absolute;
  width: 64%;
  height: 2px;
  background-color: var(--basic-app-button);
}

.range-toggle {
  position: absolute;
  transform: translate(-50%, -46%);
  left: 0;
  width: 4px;
  height: 4px;
  background-color: var(--toggle-background);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.range-toggle-min {
  left: 0%;
}

.range-toggle-max {
  left: 64%;
}

.filter-price {
  color: var(--basic-dark);
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom: 54px;
}

.filter-price .filter-legend {
  margin-bottom: 48px;
}

.price-control {
  display: flex;
  align-items: center;
}

.price-input {
  width: 80px;
  height: 38px;
  text-align: center;
  box-sizing: border-box;
  margin-left: 12px;
  background-color: var(--basic-verylightgrey);
  border: none;
  border-radius: 3px;
}

.price-input:not(:last-of-type) {
  margin-right: 33px;
}

.filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 20px;
  color: var(--basic-dark);
  padding-left: 0px;
}

.filter-item-label {
  position: relative;
  display: block;
  cursor: pointer;
  padding-left: 35px;
}

.filter-input-grid + .filter-item-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2.5px;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  border: 4px solid var(--basic-black);
  border-radius: 50%;
  opacity: .4;
}

.filter-input-grid:checked + .filter-item-label::after {
  content: "";
  position: absolute;
  left: 8px;
  top: 6px;
  width: 9px;
  height: 9px;
  background-color: var(--basic-black);
  border-radius: 50%;
  opacity: .4;
}

.filter-input-type + .filter-item-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2.5px;
  box-sizing: border-box;
  width: 23px;
  height: 23px;
  border: 2px solid var(--basic-black);
  border-radius: 3px;
  opacity: .4;
}

.filter-input-type:checked + .filter-item-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2.5px;
  box-sizing: border-box;
  width: 25px;
  height: 23px;
  border: none;
  background-image: url("../img/filter-icons/checkbox-on.svg");
  opacity: .4;
}

.filter-input:disabled + .filter-item-label {
  opacity: .3;
  cursor: default;
}

.filter-input:disabled + .filter-item-label::before {
  opacity: .1;
}

.filter-input:not(:disabled) + .filter-item-label:hover::before,
.filter-input:not(:disabled) + .filter-item-label:hover::after {
  opacity: 1;
}

.filter-item:not(.filter-item:last-child) {
  margin-bottom: 21px;
}



/* Catalog */

.catalog-grid {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  grid-template-rows: auto auto;
}

.filters {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.sorting {
  grid-row: 1 / 2;
  grid-column: 2 / 4;
  display: flex;
  align-items: baseline;
  min-height: 78px;
}

.sorting .filter-legend {
  margin-bottom: 0px;
  margin-right: 20px;
  flex-grow: 1;
}

.sorting-list {
  margin: 0;
  padding: 0;
  width: 519px;
  justify-content: flex-end;
  list-style: none;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
}

.sorting-type-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 40px;
  margin-left: 47px;
}

.sorting-item {
  margin-right: 26px;
}

.sorting-item-link {
  color: var(--basic-black);
  opacity: .3;
}

.sorting-item-link:hover,
.sorting-item-link:focus {
  opacity: .6;
}

.sorting-item-link:active,
.sorting-item-active {
  opacity: 1;
}

.sorting-item:last-child {
  margin-right: 0;
}

.sorting-type {
  margin-left: 18px;
}

.sorting-type:first-child {
  margin-left: 0;
}

.sort-ico {
  width: 11px;
  height: 10px;
}

.ascending-sort-ico {
  transform: rotate(180deg);
}

.sort-ico-path {
  fill: var(--sort-ico-basic);
  opacity: .2;
}

.sort-ico:hover .sort-ico-path,
.sort-ico:focus .sort-ico-path {
  opacity: 1;
}

.sort-ico:active .sort-ico-path,
.sort-type-active .sort-ico-path {
  fill: var(--sort-ico-active);
  opacity: 1;
}

.catalog {
  line-height: 18px;
  color: var(--basic-lightgrey);
  grid-column: 2 / 4;
  grid-row: 2;
  margin-bottom: 60px;
}

.template-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}

.template-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 32px;
  width: 360px;
  height: min-content;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);
}

.template-item:last-of-type {
  margin-bottom: 55px;
}

.template-browser {
  width: 100%;
  height: 40px;
  opacity: .12;
}

.template-item:hover .template-browser {
  opacity: 1;
}

.template-item .image {
  background-color: var(--background-template-image);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.template-overlay {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0px;
  background-color: var(--basic-verylightgrey);
  padding-top: 26px;
  padding-bottom: 44px;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.template-button {
  width: 200px;
}

.template-item:hover .template-overlay {
  opacity: 1;
}

.template-name {
  margin: 0;
  margin-bottom: 12px;
  color: var(--basic-black);
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.template-name:hover,
.template-name:focus {
  color: var(--basic-lightred);
}

.template-name:active {
  color: var(--basic-black);
  opacity: .3;
}

.template-description {
  margin: 0;
  margin-bottom: 32px;
}

.pagination-list {
  background-color: var(--basic-white);
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.pagination-item {
  background-color: var(--basic-verylightgrey);
  color: var(--basic-black);
  display: block;
  box-sizing: border-box;
  margin-right: 11px;
  width: 50px;

}

.pagination-next-page {
  width: 260px;
}

.pagination-item:hover,
.pagination-item:focus {
  background-color: var(--special-gray);
}

.pagination-item:active {
  background-color: var(--special-darkgrey);
  color: var(--active-button-black-text);
}

.pagination-item-active,
.pagination-item-active:hover,
.pagination-item-active:focus,
.pagination-item-active:active {
  background-color: var(--basic-white);
  color: var(--basic-black);
  border: 3px solid var(--active-page-button-pagination);
  border-radius: 3px;
  padding-top: 14px;
  padding-bottom: 12px;
}


/* Slides */

.slides {
  position: relative;
}

.slides-wrapper {
  background-color: var(--basic-verylightgrey);
  margin-bottom: 80px;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slides-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slides-item {
  position: relative;
  width: 1157px;
  padding: 0;
}

.slide-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.slides-item .image {
  position: absolute;
  top: 0;
  right: 0;
  width: 760px;
  height: 431px;
}

.slides-controls {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 18px;
  bottom: 96px;
}

.slides-controls-button {
  position: relative;
  width: 18px;
  height: 18px;
  margin-right: 17px;
  background-color: var(--basic-white);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slides-controls-button:last-of-type {
  margin-right: 0;
}

.slides-control-current::before {
  position: absolute;
  display: block;
  content: "";
  width: 8px;
  height: 8px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  background-color: transparent;
  border: 2px solid var(--slides-button-current);
  border-radius: 50%;
}

.slide-head {
  margin: 0;
  padding: 0;
  width: 514px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin-top: 78px;
  margin-bottom: 25px;
}

.slide-description {
  margin: 0px;
  margin-bottom: 38px;
  width: 410px;
}

.slide-button {
  padding-left: 54px;
  padding-right: 54px;
  margin-bottom: 80px;
}



/* Services */

.services {
  position: relative;
}

.services::after {
  content: "";
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 2px;
  background-color: var(--basic-verylightgrey);
}

.services-item .image {
  margin-bottom: 25px;
}

.services-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  column-gap: 40px;
}

.services-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 80px;
}

.service-header {
  margin: 0;
  padding: 0;
  width: 300px;
  margin-bottom: 16px;
  text-transform: uppercase;
  font-size: 24px;
  color: var(--basic-black);
  line-height: 30px;
  font-weight: 700;
}

.service-description {
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
  width: 300px;
}

/* About */

.about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  min-height: 413px;
  margin-top: 39px;
  margin-bottom: 73px;
}

.about-company-column {
  grid-column: 1 / 3;
  width: 760px;
}

.company-slogan {
  color: var(--basic-black);
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin-top: 34px;
  margin-bottom: 32px;
}

.company-slogan-description {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.company-services {
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
  text-transform: uppercase;
  font-weight: 700;
}

.company-services-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.company-services-item {
  padding-left: 39px;
  position: relative;
}

.company-services-item:not(:last-child) {
  margin-bottom: 1.5em;
}

.company-services-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 25px;
  height: 2px;
  background-color: var(--basic-lightred);
}

.about-statistic-column {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.about-statistic-column .image {
  margin: 0;
  padding: 0;
  width: 360px;
  height: 208px;
  margin-bottom: 37px;
}

.statistic-head {
  padding: 0;
  margin: 0;
  color: var(--basic-black);
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 31px;
}

.statistic-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.statistic-value {
  margin: 0;
  padding: 0;
  color: var(--basic-black);
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  margin-bottom: 10px
}

.statistic-name {
  margin: 0;
  padding: 0;
  line-height: 18px;
  margin: 0px;
}

.percent {
  font-size: 26px;
  line-height: 40px;
}

/* Clients */

.clients {
  position: relative;
  width: 1159px;
}

.clients::after,
.clients::before {
  content: "";
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 2px;
  background-color: var(--basic-verylightgrey);
}

.clients-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
}

.clients-item .image {
  width: 210;
  height: 100;
  opacity: 0.2;
}

.clients-item {
  margin: 0;
  padding: 0;
  opacity: 1;
  width: 260px;
  height: 184px;
  display: flex;
  position: relative;
}



.clients-link {
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

.clients-item:not(:nth-child(4n))::after {
  content: "";
  position: absolute;
  transform-origin: 50% 0%;
  transform: translate(280px, 64px);
  height: 52px;
  width: 2px;
  background-color: var(--basic-verylightgrey);
  opacity: 1;
}

.clients-item:hover .image,
.clients-item:focus .image{
  opacity: 1;
}

.clients-item:active .image{
  opacity: .1;
}

/* contacts */

.footer-location {
  position: relative;
  margin-bottom: 68px;
  line-height: 18px;
}

.location-contacts {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 319px;
  color: var(--basic-lightgrey);
  background-color: var(--basic-white);
}

.contacts-content {
  margin: 49px 50px 47px 50px;
}

.contacts-phone {
  margin-bottom: 37px;
}

.footer-phone {
  color: inherit;
  margin: 0;
}

.contacts-studio-name {
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  font-weight: 700;
  margin: 0px;
  margin-bottom: 23px;
}

.location-map {
  width: 100%;
}

.location-map .image {
  width: 100%;
}

/* Social */

.footer-social {
  display: flex;
  height: min-content;
}

.social-description {
  height: min-content;
  margin: auto 0;
}

.social-benefit {
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
  font-weight: 700;
  margin: 0;
  margin-bottom: 10px;
}

.social-benefit-description {
  line-height: 22px;
  color: var(--basic-greydark);
  margin: 0;
}

.social-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.social-link {
  position: relative;
  display: block;
  background-color: var(--social-button);
  border-radius: 50%;
  width: 81px;
  height: 81px;
}

.social-item {
  margin-right: 9px;
}

.social-item:last-child {
  margin-right: 139px;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--special-red);
}

.social-link:active {
  background-color: var(--special-darkred);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.social-link:active .social-ico {
  opacity: .3;
}

.social-ico {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}



/* Modal-Contact */

.modal-appeal {
  position: relative;
  background-color: var(--basic-white);
  width: 960px;
  box-shadow: 0px 20px 40px var(--shadow-black);
}

.appeal-head {
  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
  margin: 0px;
  padding: 0px;
  margin-top: 63px;
  margin-left: 100px;
}

.appeal-form {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 37px 99px 84px 100px;
  line-height: 18px;
}

.appeal-item {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
  width: 360px;
}

.appeal-item-label {
  margin-bottom: 9px;
}

.appeal-item-input {
  font: inherit;
  background-color: transparent;
  padding: 16px 14px 16px 16px;
  box-sizing: border-box;
  border: 2px solid var(--basic-border-input);
  border-radius: 3px;
}

.appeal-fullname-input,
.appeal-email-input {
  height: 50px;
}

.appeal-text {
  width: 100%;
  margin-bottom: 47px;
}

.appeal-text .appeal-item-input {
  padding-bottom: 8px;
}

.appeal-item-input:hover {
  border-color: var(--hover-border-input);
}

.appeal-item-input.error {
  color: var(--special-red);
  border-color: var(--special-red);
}

.appeal-item-label {
  font-weight: 700;
}

.appeal-button {
  width: 259px;
}

.modal-appeal .close {
  position: absolute;
  border: none;
  background-color: transparent;
  right: 90px;
  top: 78px;
  width: 21px;
  height: 21px;
  background-image: url(../img/decorative-icons/close-cross.svg);
  opacity: .3;
}

.modal-appeal .close:hover,
.modal-appeal .close:focus {
  opacity: 1;
}

.modal-appeal .close:active {
  opacity: .1;
}
